/* import fonts  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap");

* {
  font-family: "Noto Serif SC", serif, "Noto Sans SC", sans-serif;
}

/* nav bar  */

.navBar .navLogo {
  text-decoration: none;
  display: flex;
  /* align-items: flex-end; */
}

.navBar h1:first-of-type {
  color: #2a9df4;
}

.navBar h1:nth-of-type(2) {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #000;
  align-self: center;
}

.navBar .navLink {
  text-decoration: none;
  color: #000;
}

.navBar .navLink:hover {
  text-decoration: none;
  color: #00000050;
}

/* the home page  */

#homePage {
}

#homePage h1 {
  width: fit-content;
  margin: auto;
}

#homePage p {
  width: fit-content;
  margin: auto;
}

/* lesson select buttons  */

.sideBar .lessonSelectButtons {
  color: #2a9df4;
  text-decoration: none;
  /* border: #000 solid 1px; */
}

.sideBar .lessonSelectButtons:hover {
  color: #2a9df4;
  text-decoration: none;
  background-color: #2a9df410 !important;

}

.sideBar .lessonsIndexButton {
  color: #2a9df4;
  text-decoration: none;
  /* border: #000 solid 1px; */
}

.sideBar .lessonsIndexButton:hover {
  color: #2a9df4;
  text-decoration: none;
  background-color: #2a9df410 !important;
}

/* LessonSideBarList */

.LessonSideBarList {
  display: flex;
}

.LessonSideBarList p:nth-child(2) {
  margin-left: 1rem;
}

/* main conversation  */

.mainConversation .btn {
  background-color: #2a9df410 !important;
}

.mainConversation .btn:hover {
  background-color: #2a9df450 !important;
}

.mainConversation .row .col {
  margin: 5px 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mainConversation .row .col div {
  display: flex;
  align-items: center;
}

.mainConversation .row .col img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.mainConversation .row .col div p {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.mainConversation .row .col p {
  margin: 0;
  font-size: 1rem;
  margin-left: 2.5rem;
}

.mainConversation .row:nth-child(odd):not(:first-child) .col {
  /* background-color: #c8e7f550; */
  /* background-color: #CBE4F950; */
  background-color: #2a9df410;

  border-radius: 5px;
}

.mainConversation .row:nth-child(even) .col {
  /* background-color: #f6d2e050; */
  background-color: #2a9df430;

  /* background-color: #CDF5F650; */
  border-radius: 5px;
}

/* translation list  */

.translatedWords p {
  margin: 0;
}

.translatedWords .translationChinWord {
  font-size: 1.5rem;
}

.translatedWords .translationEngWord {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* audio player */

audio {
  width: 100%;
}

/* key phrases  */

.keyPhrases .btn {
  background-color: #2a9df410 !important;
}

.keyPhrases .btn:hover {
  background-color: #2a9df450 !important;
}

.keyPhrases .row:not(:nth-child(2)) .col {
  background-color: #2a9df430;
  border-radius: 5px;
}

.keyPhrases .row .col {
  margin: 5px 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.keyPhrases p {
  margin: 0;
}

.keyPhrases .row .col p:first-child {
  font-size: 1.5rem;
}
