/* the home page  */

#homePage {
  background-image: url("../assets/mainBackground.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
}

#homePage h1 {
  width: fit-content;
  margin: auto;
}

#homePage p {
  width: fit-content;
  margin: auto;
}

/* translation list  */

.translatedListBox {
  display: flex;
}

.translatedListBox p {
  width: 200px;
}
